<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sherlock.kro.kr.hyeum.deokso" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- Activity -->
        <activity
            android:name="sherlock.kro.kr.hyeum.deokso.activity.main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sherlock.kro.kr.hyeum.deokso.activity.bap.BapActivity"
            android:label="@string/title_activity_bap"
            android:theme="@style/AppTheme" />
        <activity
        android:name="sherlock.kro.kr.hyeum.deokso.activity.home.HomeActivity"
        android:label="@string/title_activity_home"
        android:theme="@style/AppTheme" />
        <activity
        android:name="sherlock.kro.kr.hyeum.deokso.activity.home.Home2Activity"
        android:label="@string/title_activity_home2"
        android:theme="@style/AppTheme" />
        <activity
            android:name="sherlock.kro.kr.hyeum.deokso.activity.home.Homedetail"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name="sherlock.kro.kr.hyeum.deokso.activity.timetable.TimeTableActivity"
            android:label="@string/title_activity_time_table"
            android:theme="@style/AppTheme" />
        <activity
            android:name="sherlock.kro.kr.hyeum.deokso.activity.settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name="sherlock.kro.kr.hyeum.deokso.activity.main.Calculate"
            android:label="계산기"/>
        <activity
            android:name="sherlock.kro.kr.hyeum.deokso.activity.notice.NoticeActivity"
            android:label="@string/title_activity_notice"
            android:theme="@style/AppTheme" />
        <activity
            android:name="sherlock.kro.kr.hyeum.deokso.activity.notice.NoticeSendActivity"
            android:label="@string/title_activity_notice_send"
            android:theme="@style/AppTheme" />
        <activity
            android:name="sherlock.kro.kr.hyeum.deokso.activity.schedule.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme" />
        <activity
            android:name="sherlock.kro.kr.hyeum.deokso.activity.exam.ExamTimeActivity"
            android:label="@string/title_activity_exam_range"
            android:theme="@style/AppTheme" />

        <!-- AutoUpdate -->
        <receiver
            android:name="sherlock.kro.kr.hyeum.deokso.autoupdate.BroadCast"
            android:label="@string/title_broadcast_autoupdate"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="sherlock.kro.kr.hyeum.deokso.autoupdate.updateService"
            android:label="@string/title_service_autoupdate" />

        <!-- AppWidget -->
        <receiver
            android:name="sherlock.kro.kr.hyeum.deokso.widget.BapWidget"
            android:label="@string/widget_bap_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/bap_widget_info" />
        </receiver>
        <receiver
            android:name="sherlock.kro.kr.hyeum.deokso.widget.TimeTableWidget"
            android:label="@string/widget_timetable_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/time_table_widget_info" />
        </receiver>
        <receiver
            android:name="sherlock.kro.kr.hyeum.deokso.widget.WidgetBroadCast"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_CHANGED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9fee2e16101656706e623fd7a2ae1c48e7415cb1" />
        <!-- [START firebase_service] -->
        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
    </application>

</manifest>
